@model List<Class.Models.ContatoModel>

@{
    ViewData["Title"] = "Lista de Contatos";
}

<div class="text-center">
    <h1 class="display-4">Lista de Contatos</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var contato in Model)
    {
        <tr>
            <td>@contato.Nome</td>
            <td>@contato.Email</td>
            <td>@contato.Telefone</td>
            <td>
                <a class="btn btn-primary" asp-action="Editar" asp-route-id="@contato.Id">Editar</a>
                <a class="btn btn-danger" asp-action="Excluir" asp-route-id="@contato.Id">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a class="btn btn-primary mb-3" asp-controller="Contato" asp-action="Criar">Adicionar Novo Contato</a>
